body {
	margin:0px auto;
	background:url(/images/bg.gif);
	font-family:Arial,simsun;
	font-size:12px;
	text-align:Left;
	line-height:25px;
}
#body{
	margin: 0px auto;
	width: 994px;
	font-size: 14px;
}
#main{
	float: left;
	padding: 5px;
	width: 99%;
	background: white;
}
